<!-- <p *ngIf="hastodos$ | async">todo-list works!</p> -->
<!-- <button (click)="save()">Salva</button> -->
<div class="container">
  <div class="row">
    <div class="col-4" *ngFor="let item of takeValues">
      <div class="exercise-image">
        <img style="height: 80px" [src]="item.image" />
      </div>
    </div>
  </div>
</div>
